<h1 style="margin-top:15px">Shippo connection settings</h1>
<div style="float:left;width:70%">
	<p style="margin:30px 0 20px 0">
		You have successfully connected your store with Shippo with the following settings:
	</p>
	<ul style="margin: 0 0 30px 20px">
		<li><strong>Spreecommerce user:</strong> <%= @user.email %></li>
		<li><strong>Spreecommerce API token:</strong> <%= @user.spree_api_key %></li>
	</ul>
	<%= button_link_to Spree.t("Open Shippo now"), "https://goshippo.com/user/orders", :icon => "" %>
</div>
<div style="float:left;width:30%;margin-top:30px;">
	<a href="https://goshippo.com/user/orders"><img src="https://shippo-static.s3.amazonaws.com/img/logo/logo_v2_withicon_darkgrey.svg" width="250px"></a>
</div>